//公共(组件)模块样式
@charset "UTF-8";
@import "_variable_method";

.g-pageWrap{
  position: relative;
  width: 100%;
  max-width: 500px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  &.hideNav{
    padding-bottom: 0;
  }
}

//底部主导航
.m-mainNav{
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid $Border;
  background: #fff;
  .item{
    flex: 1;
    line-height: 60px;
    text-align: center;
    text-decoration: none;
    color: $Content;
    &:hover{
      background: $Background;
      cursor: pointer;
    }
    &:nth-child(2){
      border-left: .5px solid $Border;
      border-right: 1px solid $Border;
    }
  }
}


//返回上一页
.m-backLastPageBtn{
  display: inline-block;
  padding: 10px;
}
