//全局模块样式
@charset "UTF-8";
@import "_variable_method";

#app{
  height: 100%;
}
.g-main{
  height: 100%;

  .g-pagewrap{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding-top: $mainHeaderHeight;
    padding-bottom: $mainNavHeight;
    overflow-y: auto;
  }

  &.hideHeader{
    .g-pagewrap{
      padding-top: 0;
    }
  }

  &.hideNav{
    .g-pagewrap{
      padding-bottom: 0;
    }
  }


  .m-mainHeader{
    z-index: 1;
    position: relative;
  }

}
