@charset "UTF-8";
@import "_variable_method";
.p-index{
  .m-foodList{
    .item{
      margin-bottom: 40px;
      text-align: center;
      overflow: hidden;
      img{
        float: left;
        width: 100%;
      }
      .info-wrap{
        @include space;
        padding-top: $space;
        text-align: left;
        overflow: hidden;
        .name{
          margin-right: 5px;
          font-size: 17px;
          color: $Title;
        }
        .price{
          color: $Primary;
        }
        .explain{
          margin-top: 5px;
          color: $SubColor;
        }
      }
    }
  }
}
