@charset "UTF-8";
@import "_variable_method";
.p-login{
  padding-left: $space;
  padding-right: $space;
  .u-logo{
    display: block;
    max-width: 150px;
    margin: 50px auto;
  }
  .ant-btn-primary.ant-btn{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  a{
    color: $LightPrimary;
  }
}
